body {
  /* reset */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  border-image: linear-gradient(
      hsla(258.9, 74.8%, 53.3%, 0.6),
      hsla(58.8, 100%, 20%, 0.6)
    )
    fill 1;
}

.hero {
  background-image: url("./dima-panyukov-YKF2FrwgGUE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  place-content: center;
  font-size: 1.7rem;
}
