.container {
    /* text-align: left; */
    /* padding-top: 20vh; */
    padding: 0 1.75rem;
}
.container > * {
    font-family: 'Roboto', sans-serif;
}

.grid {
    /* Last Change to style sheet */
    display: grid;
}

/* .row {
    
} */

.btn {
    padding: 1rem;
    border-radius: 2%;
    text-align: center;
}

.inputs {
    font-size: 1em;
    padding: 1rem;
    margin: 0.5rem;
}

@media (prefers-color-scheme: dark){
    .inputs, .btn {
        background-color: #333;
        color: #e3e3e3;
        border: #222;
    }
}