/* Typography */
.title {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 2.5em;
}

h2 {
font-size: 1.5em;
}

p {
font-size:1em;
}

/* Main components */
.container {
    width: min(calc(80% - 2rem), 60rem);
    margin-inline: auto;
}

section {
    padding: 1rem 0;
    margin: 0 1rem;
}

.inverse {
    --bg-color: hsl(280 50% 20%);
    background-color: var(--bg-color, #121212) ; 
    color: #e3e3e3; 
}

.full-scale {
    box-shadow: 0 0 0 100vmax var(--bg-color, #121212);
    clip-path: inset(0 -100vmax);
}